<link rel="stylesheet" type="text/css" href="app/css/loginForm.css">

<div class="container">
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default" style="margin-top: 100px">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    LOGIN
                </div>
            </div>

            <div class="panel-body" >
                <form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">
                    <span ng-show="false" class="panel-title" style="color: red; font-weight: bold">
                        erros e-mail - usar ng-message
                    </span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" placeholder="e-mail de login">
                    </div>
                    <span ng-show="false" class="panel-title" style="color: red; font-weight: bold">
                        erros senha - usar ng-message
                    </span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Senha">
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button type="submit" href="#" class="btn btn-primary btn-block">
                                <i class="glyphicon glyphicon-log-in">
                                </i>
                                &#160;&#160; Entrar
                            </button>
                        </div>
                    </div>
                    <span ng-show="false" class="panel-title" style="color: red; font-weight: bold">
                            Senha inválida ou usuário não cadastrado !
                    </span>
                </form>
                <hr>
                <a href="#/redefinirSenha" class="forget" data-toggle="modal" data-target=".forget-modal">
                    Esqueceu sua senha ?
                </a>
            </div>
        </div>
    </div>
</div>
