<link rel="stylesheet" type="text/css" href="app/css/loginForm.css">

<div class="container" style="width: 900px">
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default" style="margin-top: 100px">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    LOGIN
                </div>
            </div>

            <div class="panel-body" >
                <h5 ng-show="false" class="alert alert-danger" style="text-align: center;">Senha inválida ou usuário não cadastrado !</h5>
                <form name="loginCtrl.formLogin" class="form-horizontal" ng-submit="loginCtrl.userAuth()">
                    <span ng-show="loginCtrl.formLogin.email.$error.pattern" class="panel-title" style="color: red;">
                        &#160; Formato de e-mail inválido
                    </span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input ng-required="true"
                               type="text"
                               name="email"
                               ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}/"
                               ng-model="loginCtrl.user.email"
                               class="form-control"
                               placeholder="e-mail de login">
                    </div>
                    <div class="login input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input ng-required="true"
                               type="password"
                               name="password"
                               ng-model="loginCtrl.user.password"
                               class="form-control"
                               placeholder="Senha">
                    </div>

                    <div class="login form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button ng-disabled="loginCtrl.formLogin.$invalid" type="submit" href="#" class="btn btn-primary btn-block">
                                <i class="glyphicon glyphicon-log-in"></i>
                                &#160;&#160; Entrar
                            </button>
                        </div>
                    </div>
                </form>
                <hr>
                <a href="#/redefinirSenha" class="forget" data-toggle="modal" data-target=".forget-modal">
                    Esqueceu sua senha ?
                </a>
            </div>
        </div>
    </div>
</div>
