<div class="container" style="width: 900px; margin-top: 30px; margin-bottom: 100px">
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-3">
        <div class="panel panel-default" style="margin-top: 100px">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    LOGIN
                </div>
            </div>

            <div class="panel-body" >
                <form name="ctrl.formLogin" class="form-horizontal">

                    <!-- validation masseges -->
                    <span ng-show="ctrl.formLogin.email.$error.pattern" class="panel-title" style="color: red;">
                        &#160; Formato de e-mail inválido
                    </span><!-- /. validation masseges -->

                    <!-- login e-mail -->
                    <div class="input-group" style="margin-bottom: 15px">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input ng-required="true"
                               type="text"
                               name="email"
                               ng-pattern="/\w+@\w+\.(\w{2,3}|\w{3}.\w{2})$/"
                               ng-model="ctrl.user.email"
                               class="form-control"
                               placeholder="e-mail de login">
                    </div><!-- /. login e-mail -->

                    <!-- password -->
                    <div class="login input-group" style="margin-top: 15px; margin-bottom: 15px">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input ng-required="true"
                               type="password"
                               name="password"
                               ng-model="ctrl.user.password"
                               class="form-control"
                               placeholder="Senha">
                    </div><!-- /. password -->

                    <!-- Login Button -->
                    <div class="login form-group" style="margin-top: 15px; margin-bottom: 15px">
                        <div class="col-sm-12 controls">
                            <button ng-click="ctrl.login(ctrl.user)" ng-disabled="ctrl.formLogin.$invalid" type="submit" href="#" class="btn btn-primary btn-block">
                                <i class="glyphicon glyphicon-log-in"></i>
                                &#160;&#160; Entrar
                            </button>
                        </div>
                    </div><!-- /. Login Button -->

                </form>
                <hr>

                <!-- password forgotten button -->
                <a href="#/redefinirSenha" class="forget" data-toggle="modal" data-target=".forget-modal">
                    Esqueceu sua senha ?
                </a><!-- /. password forgotten button -->

            </div>
        </div>
    </div>
</div>
