<div class="container" style="width: 900px; margin-top: 30px; margin-bottom: 80px">
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default" style="margin-top: 70px">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    CADASTRO DE USUÁRIO
                </div>
            </div>

            <div class="panel-body" >
                <form name="userCtrl.newUserForm" class="form-horizontal">

                    <!-- Auth validation -->
                    <div ng-show="userCtrl.userAlreadyExists" class="alert alert-danger" style="font-size: 15px; font-weight: bold; text-align: center">
                        &#160;&#160; e-mail já cadastrado !
                    </div>


                    <!-- Input name -->
                    <div ng-class="{
                                    'form-group has-feedback':             !userCtrl.newUserForm.name.$dirty,
                                    'form-group has-success has-feedback':  userCtrl.newUserForm.name.$dirty             &&
                                                                           !userCtrl.newUserForm.name.$error.minlength   &&
                                                                           !userCtrl.newUserForm.name.$error.required    &&
                                                                           !userCtrl.newUserForm.name.$error.maxlength,
                                    'form-group has-warning has-feedback': userCtrl.newUserForm.name.$error.minlength    ||
                                                                           userCtrl.newUserForm.name.$error.maxlength,
                                    'form-group has-error has-feedback':   userCtrl.newUserForm.name.$error.required     &&
                                                                           userCtrl.newUserForm.name.$dirty
                                }">
                        <div class="col-sm-12">
                            <input type="text"
                                   ng-model="userCtrl.user.username"
                                   name="name"
                                   validate-name-field
                                   ng-required="true"
                                   ng-minlength="3"
                                   ng-maxlength="30"
                                   placeholder="nome"
                                   class="form-control">

                            <!-- Validation messages -->
                            <span ng-class="{
                                    'form-control-feedback':                                  !userCtrl.newUserForm.name.$dirty,
                                    'glyphicon glyphicon-ok form-control-feedback':            userCtrl.newUserForm.name.$dirty              &&
                                                                                              !userCtrl.newUserForm.name.$error.minlength    &&
                                                                                              !userCtrl.newUserForm.name.$error.required     &&
                                                                                              !userCtrl.newUserForm.name.$error.maxlength,
                                    'glyphicon glyphicon-warning-sign form-control-feedback': userCtrl.newUserForm.name.$error.minlength     ||
                                                                                              userCtrl.newUserForm.name.$error.maxlength,
                                    'glyphicon glyphicon-remove form-control-feedback':       userCtrl.newUserForm.name.$error.required      &&
                                                                                              userCtrl.newUserForm.name.$dirty
                                }">
                            </span>
                            <span ng-show="userCtrl.newUserForm.name.$error.minlength &&
                                           userCtrl.newUserForm.name.$dirty"
                                  style="color: #eb9316">
                                &#160;&#160; O campo nome deve conter no mínimo 3 caracteres !
                            </span>
                            <span ng-show="userCtrl.newUserForm.name.$error.maxlength"
                                  style="color: #eb9316">
                                &#160;&#160; O campo nome deve conter no máximo 30 caracteres !
                            </span>
                            <span ng-show="userCtrl.newUserForm.name.$error.required && userCtrl.newUserForm.name.$dirty"
                                  style="color: red">
                                &#160;&#160; O campo nome é obrigatório !
                            </span><!-- /. Validation messages -->

                        </div>
                    </div><!-- /. Input name -->

                    <!-- Input e-mail -->
                    <div ng-class="{
                                    'form-group has-feedback':             !userCtrl.newUserForm.email.$dirty,
                                    'form-group has-success has-feedback':  userCtrl.newUserForm.email.$dirty             &&
                                                                           !userCtrl.newUserForm.email.$error.required    &&
                                                                           !userCtrl.newUserForm.email.$error.maxlength   &&
                                                                           !userCtrl.newUserForm.email.$error.pattern,
                                    'form-group has-warning has-feedback': userCtrl.newUserForm.email.$error.maxlength    ||
                                                                           userCtrl.newUserForm.email.$error.pattern,
                                    'form-group has-error has-feedback':   userCtrl.newUserForm.email.$error.required     &&
                                                                           userCtrl.newUserForm.email.$dirty
                                }">
                        <div class="col-sm-12">
                            <input type="text"
                                   ng-model="userCtrl.user.email"
                                   name="email"
                                   ng-pattern="/\w+@\w+\.(\w{2,3}|\w{3}.\w{2})$/"
                                   ng-required="true"
                                   ng-maxlength="50"
                                   placeholder="e-mail"
                                   class="form-control">

                            <!-- Validation messages -->
                            <span ng-class="{
                                    'form-control-feedback':                                  !userCtrl.newUserForm.email.$dirty,
                                    'glyphicon glyphicon-ok form-control-feedback':            userCtrl.newUserForm.email.$dirty              &&
                                                                                              !userCtrl.newUserForm.email.$error.required     &&
                                                                                              !userCtrl.newUserForm.email.$error.maxlength    &&
                                                                                              !userCtrl.newUserForm.email.$error.pattern,
                                    'glyphicon glyphicon-warning-sign form-control-feedback': userCtrl.newUserForm.email.$error.maxlength     ||
                                                                                              userCtrl.newUserForm.email.$error.pattern,
                                    'glyphicon glyphicon-remove form-control-feedback':       userCtrl.newUserForm.email.$error.required      &&
                                                                                              userCtrl.newUserForm.email.$dirty
                                }">
                            </span>
                            <span ng-show="userCtrl.newUserForm.email.$error.pattern && userCtrl.newUserForm.email.$dirty"
                                  style="color: #eb9316">
                                &#160;&#160; O formato do e-mail está incorreto !
                            </span>
                            <span ng-show="userCtrl.newUserForm.email.$error.maxlength && !userCtrl.newUserForm.email.$error.pattern"
                                  style="color: #eb9316">
                                &#160;&#160; O campo e-mail deve conter no máximo 50 caracteres !
                            </span>
                            <span ng-show="userCtrl.newUserForm.email.$error.required && userCtrl.newUserForm.email.$dirty"
                                  style="color: red">
                                &#160;&#160; O campo e-mail é obrigatório !
                            </span><!-- /. Validation messages -->
                        </div>
                    </div><!-- /. Input e-mail -->

                    <!-- Input password -->
                    <div ng-class="{
                                    'form-group has-feedback':             !userCtrl.newUserForm.password.$dirty,
                                    'form-group has-success has-feedback':  userCtrl.newUserForm.password.$dirty             &&
                                                                           !userCtrl.newUserForm.password.$error.minlength   &&
                                                                           !userCtrl.newUserForm.password.$error.required    &&
                                                                           !userCtrl.newUserForm.password.$error.maxlength,
                                    'form-group has-warning has-feedback': userCtrl.newUserForm.password.$error.minlength    ||
                                                                           userCtrl.newUserForm.password.$error.maxlength,
                                    'form-group has-error has-feedback':   userCtrl.newUserForm.password.$error.required     &&
                                                                           userCtrl.newUserForm.password.$dirty
                                }">
                        <div class="col-sm-12">
                            <input type="password"
                                   ng-model="userCtrl.user.password"
                                   name="password"
                                   ng-required="true"
                                   ng-minlength="4"
                                   ng-maxlength="10"
                                   placeholder="senha"
                                   class="form-control">

                            <!-- Validation messages -->
                            <span ng-class="{
                                    'form-control-feedback':                                  !userCtrl.newUserForm.password.$dirty,
                                    'glyphicon glyphicon-ok form-control-feedback':            userCtrl.newUserForm.password.$dirty              &&
                                                                                              !userCtrl.newUserForm.password.$error.minlength    &&
                                                                                              !userCtrl.newUserForm.password.$error.required     &&
                                                                                              !userCtrl.newUserForm.password.$error.maxlength,
                                    'glyphicon glyphicon-warning-sign form-control-feedback': userCtrl.newUserForm.password.$error.minlength     ||
                                                                                              userCtrl.newUserForm.password.$error.maxlength,
                                    'glyphicon glyphicon-remove form-control-feedback':       userCtrl.newUserForm.password.$error.required      &&
                                                                                              userCtrl.newUserForm.password.$dirty
                                }">
                            </span>
                            <span ng-show="userCtrl.newUserForm.password.$error.minlength &&
                                           userCtrl.newUserForm.password.$dirty"
                                  style="color: #eb9316">
                                &#160;&#160; O campo senha deve conter no mínimo 4 dígitos !
                            </span>
                            <span ng-show="userCtrl.newUserForm.password.$error.maxlength"
                                  style="color: #eb9316">
                                &#160;&#160; O campo senha deve conter no máximo 10 dígitos !
                            </span>
                            <span ng-show="userCtrl.newUserForm.password.$error.required &&
                                  userCtrl.newUserForm.password.$dirty"
                                  style="color: red">
                                &#160;&#160; O campo senha é obrigatório !
                            </span><!-- /. Validation messages -->

                        </div>
                    </div><!-- /. Input password -->

                    <!-- Input passRepeat -->
                    <div ng-class="{
                                    'form-group has-feedback':             !userCtrl.newUserForm.passRepeat.$dirty,
                                    'form-group has-success has-feedback':  userCtrl.newUserForm.passRepeat.$dirty             &&
                                                                           !userCtrl.newUserForm.passRepeat.$error.required    &&
                                                                            userCtrl.user.passRepeat == userCtrl.user.password,
                                    'form-group has-warning has-feedback': userCtrl.user.passRepeat != userCtrl.user.password,
                                    'form-group has-error has-feedback':   userCtrl.newUserForm.passRepeat.$error.required     &&
                                                                           userCtrl.newUserForm.passRepeat.$dirty
                                }">
                        <div class="col-sm-12">
                            <input type="password"
                                   ng-model="userCtrl.user.passRepeat"
                                   name="passRepeat"
                                   ng-required="true"
                                   placeholder="redigite a senha"
                                   class="form-control">

                            <!-- Validation messages -->
                            <span ng-class="{
                                    'form-control-feedback':                                  !userCtrl.newUserForm.passRepeat.$dirty,
                                    'glyphicon glyphicon-ok form-control-feedback':            userCtrl.newUserForm.passRepeat.$dirty              &&
                                                                                              !userCtrl.newUserForm.passRepeat.$error.required     &&
                                                                                              userCtrl.user.passRepeat == userCtrl.user.password,
                                    'glyphicon glyphicon-warning-sign form-control-feedback': userCtrl.user.passRepeat != userCtrl.user.password,
                                    'glyphicon glyphicon-remove form-control-feedback':       userCtrl.newUserForm.passRepeat.$error.required      &&
                                                                                              userCtrl.newUserForm.passRepeat.$dirty
                                }">
                            </span>
                            <span ng-show="userCtrl.user.passRepeat != userCtrl.user.password &&
                                           userCtrl.newUserForm.passRepeat.$dirty"
                                  style="color: #eb9316">
                                &#160;&#160; As senhas não conferem !
                            </span>
                        </div>
                    </div><!-- /. Input passRepeat -->

                    <!-- insert btn -->
                    <div class="form-group">
                        <div class="col-sm-12 controls">
                            <button ng-click="userCtrl.createUser(userCtrl.user)" 
                            		ng-disabled="userCtrl.newUserForm.$invalid || 
                           						 userCtrl.user.passRepeat != userCtrl.user.password" 
                            		class="btn btn-success btn-block">
                                <i class="glyphicon glyphicon-floppy-save"></i>
                                &#160;&#160; Cadastrar
                            </button>
                        </div>
                    </div><!-- /. insert btn -->
                </form>
            </div>
        </div>
    </div>
</div>
