@import url('http://fonts.googleapis.com/css?family=Rationale');

.widget-clock.blue-light .digital {
    text-align: center;
}

.widget-clock.blue-light .time {
    font-family: 'Rationale', sans-serif;
    font-size: 3.0em;
    color: #1da4eb;
}

/* dropzone file */
.dropzone-body {
	position: absolute;
	pointer-events: none;
	text-align: center;
	height: 310px;
	border-style: dashed;
}

.dropzone-text {
	font-weight: bold;
	font-size: 13px;
}

.dropzone-input {
	position: absolute;
    width: 130px;
    height: 310px;
    opacity: 0;
}

.crop-area {
	background: #E4E4E4;
	overflow: hidden;
	height:360px;
}

.avatar {
	width: 100px;
	height: 100px;
}

.img-footer {
	width: 20px;
	height: 20px;
}