.metadata
.recommenders
RemoteSystemsTempFiles
Servers
.classpath
.project
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.factorypath
.target
*UserData.java
.tmp
.DS_Store
.DS_Store?
MeuControleHorasApp/src/main/webapp/app/lib/public/*
*database.properties
*mail.properties
*jwt.properties
*mongoDB.properties
*/MeuControleHorasApp.iml
.idea