.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.8); /*opacity*/
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 900px;
    height: auto;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
}