<link href="app/css/basic.css" rel="stylesheet">
<link href="app/css/dropzone.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Profile</h2>
        <ol class="breadcrumb">
            <li class="active">
            	<h3> dashboard / <strong> Profile </strong> </h3>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dropzone Area</h5>
                </div>
                <div class="ibox-content">
                    <form id="my-awesome-dropzone" class="dropzone" action="#">
                        <div class="dropzone-body"
                             file-dropzone="[image/png, image/jpeg, image/gif]"
                             file="ctrl.image"
                             file-name="ctrl.imageFileName"
                             data-max-file-size="3">
                            <input class="dropzone-input" type="file" upload-file="ctrl.uploadme.src">
                            <i class="fa fa-cloud-download fa-5x" aria-hidden="true"></i>
                            <br><br>
                            <span class="dropzone-text">
                                Para adicionar uma imagem, arraste ou <br>click
                            </span>
                            <span class="dropzone-text2">
                                AQUI
                            </span>
                        </div>
                        <div class="dropzone-image">
                            <img ng-src="{{ ctrl.uploadme.src }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
