<link href="app/css/basic.css" rel="stylesheet">
<link href="app/css/dropzone.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Perfil de Usuário</h2>
        <ol class="breadcrumb">
            <li class="active">
            	<h3> dashboard / <strong> Perfil de Usuário </strong> </h3>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="height: 65px; text-align: center;">
                    <a ng-click="ctrl.changeForm(1)" ng-class="ctrl.btnFirstForm">
                        <strong>Informações Pessoais</strong>
                    </a>
                    <a ng-click="ctrl.changeForm(2)" ng-class="ctrl.btnSecondForm">
                        <strong>Imagem de Usuário</strong>
                    </a>
                    <a ng-click="ctrl.changeForm(3)" ng-class="ctrl.btnThirdForm">
                        <strong>Dados de Tabalho</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <form name="profile">
        <div class="row">
            <!-- form part 01 (personal information) -->
            <div class="col-lg-12" ng-show="ctrl.showPersonalDataForm" ng-include src="'app/views/profile/profile-personal-data.html'"></div>

            <!-- form part 02 (image from profile) -->
            <div class="col-lg-12" ng-show="ctrl.showAvatarForm" ng-include src="'app/views/profile/profile-insert-avatar.html'"></div>

            <!-- form part 03 (job information) -->
            <div class="col-lg-12" ng-show="ctrl.showJobDataForm" ng-include src="'app/views/profile/profile-job-data.html'"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="height: 65px">
                        <a ng-click="ctrl.update()" class="btn btn-primary btn-block">
                            <strong>Atualizar Perfil</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="height: 65px">
                        <a ng-click="ctrl.getAddress()" class="btn btn-primary btn-block">
                            <strong>CEP</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
