<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5> Dados Pessoais </h5>
    </div>
    <div class="ibox-content">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-12 control-label">Nome</label>
                    <input type="text" placeholder="Nome de usuário" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-12 control-label">e-mail</label>
                    <input type="text" placeholder="e-mail de usuário" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-12 control-label">Empresa</label>
                    <input type="text" placeholder="name empresa onde trabalha" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-12 control-label">Gênero</label>
                    <div class="radio i-checks">
                        <label> <input type="radio" value="option1" name="a"> <i></i>Feminino</label>
                    </div>
                    
                    <div class="radio i-checks">
                        <label> <input type="radio" checked="" value="option2" name="a"> <i></i>Masculino</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-12 control-label">Endereço</label>
                    <input type="text" placeholder="informe o cep" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input  type="text" 
                            class="form-control"
                            ng-disabled="true"
                            ng-model="ctrl.profile.address">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-12 control-label">Data de Nascimento</label>
                    <div class="col-sm-4">
                        <select class="form-control m-b" name="account">
                            <option>Dia</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control m-b" name="account">
                            <option>Mês</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control m-b" name="account">
                            <option>Ano</option>
                            <option>2000</option>
                            <option>1999</option>
                            <option>1998</option>
                            <option>1997</option>
                            <option>1996</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
