<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5> Dados de Trabalho </h5>
    </div>
    <div class="ibox-content">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-12 control-label">Nome da Empresa</label>
                    <input type="text" placeholder="Nome de usuário" class="form-control">
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-12 control-label">Formação Acadêmica</label>
                    <input type="text" placeholder="formação acadêmica" class="form-control">
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-12 control-label">Valor recebido por hora</label>
                    <input type="text" placeholder="valor/hora" class="form-control">
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-12 control-label">Meta mensal em horas</label>
                    <input type="text" placeholder="horas/mês" class="form-control">
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-12 control-label">Quantidade de horas Máxima</label>
                    <input type="text" placeholder="máximo horas/mês" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
